.dontcare{
    height: 41px;
    border-bottom: 1px solid #eaeaea;
    line-height: 40px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
.contact1{
    position: absolute;
    bottom: -1px;
    padding: 0 15px;
    border-bottom: 3px solid #f93a11;
}
.map{
    width: 100%;
    height: 100%;
}
.four{
    margin-top: 20px;
    font-size: 25px;
}
.col-xs-12 textarea{
    border-radius: 0;
}
.image_icon{
    width: 20px;
}
.some_point{
    margin-bottom: 0;
}
.follow_us{
    display: block;
}
.message{
    margin-top: 20px;
}
.send_it{
    padding-left: 5px;
}
/* Something happened to My heart*/
.social-network li a{
    transition-duration: 0.2s;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: -5px !important;
    padding: 0;
}

ul.social-network li {
    display: inline-block;
    margin: 5px 0 5px 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #dedede;
}
.input-group input{
    height: 40px;
}
.scroll_top {
    width: 34px;
    height: 34px;
    position: fixed;
    display: none;
    font-size: 0;
    z-index: 9999;
    right: 15px;
    bottom: 32px;
    background: #171B44;
}
.scroll_top:hover,.scroll_top:focus{
    text-decoration: none;
}
.scroll_top:hover{
    background-color: #5e67c3;
}
.scroll_top:before {
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
}